@import "../../styles/spacing/_spacing";

$_sides: (top, bottom, left, right);
$_sides-full: (x, y);

@for $space from $_space-size-start through $_space-size-end {
  @include responsive(dj-mx-#{$space}) {
    margin-left: #{$_dj-base * $space}rem;
    margin-right: #{$_dj-base * $space}rem;
  }
  @include responsive(dj-px-#{$space}) {
    padding-left: #{$_dj-base * $space}rem;
    padding-right: #{$_dj-base * $space}rem;
  }

  @include responsive(dj-my-#{$space}) {
    margin-top: #{$_dj-base * $space}rem;
    margin-bottom: #{$_dj-base * $space}rem;
  }
  @include responsive(dj-py-#{$space}) {
    padding-top: #{$_dj-base * $space}rem;
    padding-bottom: #{$_dj-base * $space}rem;
  }
}

@for $space from $_space-size-start through $_space-size-end {
  @each $side in $_sides {
    @include responsive(dj-m#{str-slice($side, 0, 1)}-#{$space}) {
      margin-#{$side}: #{$_dj-base * $space}rem;
    }

    @include responsive(dj-p#{str-slice($side, 0, 1)}-#{$space}) {
      padding-#{$side}: #{$_dj-base * $space}rem;
    }
  }
}
