@import "animation/_animation";
@import "background/_background";
@import "colors/_colors";
@import "responsive/responsive";
@import "position/_position";
@import "pseudo/_pseudo";
@import "spacing/_spacing";
@import "typography/typography";
@import "vendor/_vendor";
@import "reset/_reset";

body {
  font-family: $_dj-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
