@import "./_gradient";

$_primary-color: #6044ea;
$_secondary-color: #ffa03c;

$_positive-color: #20a39e;
$_negative-color: #ef5b5b;
$_info-color: #3477b4;

$_background-color: #33313b;

$_black-color: #151518;

$_white-color: #eae7e4;
