$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;

$breakpoint-1: "xs";
$breakpoint-2: "sm";
$breakpoint-3: "md";
$breakpoint-4: "lg";

@mixin screen($size, $type: min, $pixels: $breakpoint-xs) {
  @if $size == $breakpoint-1 {
    @media screen and ($type + -width: $breakpoint-xs) {
      @content;
    }
  } @else if $size == $breakpoint-2 {
    @media screen and ($type + -width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == $breakpoint-3 {
    @media screen and ($type + -width: $breakpoint-md) {
      @content;
    }
  } @else if $size == $breakpoint-4 {
    @media screen and ($type + -width: $breakpoint-lg) {
      @content;
    }
  } @else {
    @content;
  }
}
